@inherits LayoutComponentBase

<div style="min-height: 100vh; display: flex; align-items: center; justify-content: center; padding: 1rem;">
    @Body
</div>

<BbToastProvider />
<BbDialogProvider />
